QCheckBox {
    background:#B2B5AE;
    color:white;
    padding-left:6px;
}

QCheckBox:disabled {
    background:none;
    color:#BABDB6;
    padding-left:6px;
    border:2px solid #B2B5AE;
}

QCheckBox::indicator:checked {
    background:green;
}

QCheckBox::indicator:unchecked {
    background:white;
}
